@import "../Util/_variables.scss";

.container {
  background-color: $container;
}
.container_desktop {
  background-color: $container;
  padding: 0px 0px 60px 0px;
}
.container_menu {
  background-color: $container;
  margin-top: -50px;
  z-index: 1;
  position: relative;
}
