@import "../Util/_variables.scss";

.container {
  background-color: $container;
}
.container_desktop {
  background-color: $container;
}
.container_menu {
  background-color: $container;
  position: relative;
  border-radius: 20px;
  z-index: 1;
}
