@import "../Util/_variables.scss";

footer {
  width: 100%;
  display: block;
}
.bloc_footer {
  background-color: $color_footer;
  padding: 1rem 1rem 1.5rem 1rem;
  color: $white;
}
footer a {
  font-size: 15px;
  padding: 5px;
  padding-bottom: 0.25rem;
  list-style: none;
  color: $white;
}
.icone_blanc {
  color: $white;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2px;
  flex-direction: column;
}
footer nav {
  display: flex;
  flex-direction: column;
}
footer ul {
  display: block;
}
footer li {
  padding: 0px 0px 10px 0px;
}
footer li i {
  padding: 0px 5px 0px 0px;
}
.titre_footer {
  display: block;
  font-size: 1em;
  font-weight: 800;
  padding: 30px 0px 20px 2px;
}
.logo_mini_footer {
  padding: 15px 0px 15px 0px;
}

.bloc_entier_footer1 {
  margin-block-start: 11px;
}
.bloc_entier_footer2 {
  margin-block-start: 1180px;
}
.bloc_entier_footer3 {
  margin-block-start: 1150px;
}
.bloc_entier_footer4 {
  margin-block-start: 1150px;
}
@media screen and (min-width: 515px) and (max-width: 1095px) {
  .bloc_entier_footer {
    margin-block-start: 775px;
  }
  .bloc_entier_footer4 {
    margin-block-start: 800px;
  }
  .bloc_entier_footer3 {
    margin-block-start: 800px;
  }
  .bloc_entier_footer2 {
    margin-block-start: 830px;
  }
}
@media screen and (min-width: 1095px) and (max-width: 1950px) {
  .bloc_entier_footer {
    margin-block-start: 70px;
  }
  .bloc_entier_footer4 {
    margin-block-start: 465px;
  }
  .bloc_entier_footer3 {
    margin-block-start: 460px;
  }
  .bloc_entier_footer2 {
    margin-block-start: 490px;
  }
}
