@import "../Util/_variables.scss";

.header_main {
  @include flex_column_center;
  position: sticky;
  top: 0;
  background: white;
  height: 65px;
  box-shadow: 0 2px 4px #636363cc;
  z-index: 2;
}
.titre_page_accueil {
  display: block;
  text-align: start;
  margin-block-start: 10%;
  margin-block-end: 5%;
  font-weight: bold;
  font-size: 1.3em;
  font-weight: bold;
  margin: 15px 20px 5px 20px;
  display: block;
  text-align: center;
  font-weight: 4000;
  font-size: 1.4em;
  font-weight: bold;
  margin: 36px 50px 10px 50px;
}
/*Logo*/

.logo_header {
  width: 150px;
}

.sous_titre {
  padding-top: 0%;
  font-size: 1.02em;
  padding: 0px 5px 10px 20px;
  text-align: center;
}

.button {
  @include flex_center;
  border: 2px solid #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  position: relative;
  background-color: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#9356dc),
    to(#ff79da)
  );
  background: -o-linear-gradient(bottom, #9356dc, #ff79da);
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: #fff;
  font-size: 0.9em;
  padding: 23px;
  flex-direction: column;
}

.icone_filtres {
  font-weight: 900;
  padding: 20px 25px 20px 20px;
  font-size: 18px;
  color: $color_icone;
}

.checkbox_filtres {
  @include filtre;
}

.circle-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  background-color: #9356dc;
  border-radius: 50px;
  z-index: 2;
  position: relative;
  top: 46px;
  color: #fff;
  left: 1px;
  font-size: 12px;
}
.nom_filtres {
  font-size: 0.9em;
  font-weight: bold;
}
