/* -----Cadre photo restaurants--------*/
.cadre_proposition {
  display: flex;
  width: 95%;
  height: 70px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px grey;
  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: flex-start;
}
#bloc_entree {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
  border-radius: 2px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
}
.bloc_titre h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

h2 {
  padding: 10px;
  font-weight: lighter;
  font-size: 1.2em;
}
.bloc_menu_entree h2 :hover {
  border-bottom: 3px solid $color_secondary;
}

.titre_menu_h3 {
  color: $black;
  font-size: 1.05em;
  font-weight: bold;
}
.texte_menu_p {
  font-size: 1em;
  color: $black;
}
.search_button {
  @include button;
}
.prix {
  display: flex;
  font-size: 1.05em;
  font-weight: bold;
  color: $black;
}
.button_checked {
  background-color: $color_tertiaire;
  font-size: 61px;
  padding: 0px 10px 0px 20px;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  left: 10px;
}
.menuItem__icon {
  padding: 5px;
  color: $color_tertiaire;
  border: 2px solid $white;
  border-radius: 100px;
  position: relative;
  background-color: $white;
  font-size: 18px;
  top: -12px;
  right: 5px;
}
#check_menu_valide {
  position: relative;
  left: 20px;
  bottom: 10px;
}
