.titre_bloc h2 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0px 10px 20px;
}
/*------cadre restaurants-----------*/
.etablissement {
  display: block;
  border-radius: 35px;
  box-shadow: 0px 0px 0px grey;
  width: 100%;
  padding: 15px;
}
.cadre_etablissement {
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px grey;
  background-color: $white;
}
.cadre_etablissement img {
  display: block;
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

#section_restaurants {
  @include flex_space_between;
  margin-bottom: 15px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: 20px 10px 0px 5px;
  padding: 20px 0px 2px 0px;
}
.titre_h3 {
  @include flex_row_start_space-between;
  font-weight: bold;
  color: black;
  font-size: 1em;
  padding: 0px 0px 0px 15px;
}
.texte_p {
  @include flex_column_flex-start;
  padding: 0px 0px 0px 15px;
  color: $black;
}
.titre_h3_sans_nouveau {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  color: black;
  font-size: 1em;
  padding: 20px 0px 0px 15px;
}
.nouveau {
  @include nouveau;
}
.far {
  padding: 0px 30px 0px 10px;
  font-size: 30px;
  font-weight: lighter;
}
