/* -----Cadre photo restaurants--------*/
.cadre_proposition {
  display: flex;
  width: 95%;
  height: 70px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px grey;
  margin: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: flex-start;
}
#bloc_entree {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
  margin: 5px;
}
.bloc_titre h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

h2 {
  font-weight: lighter;
  font-size: 1.1em;
  padding: 10px;
  &--:after {
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.bloc_menu_entree h2 :hover {
  border-bottom: 3px solid $color_secondary;
}

.titre_menu_h3 {
  color: $black;
  font-size: 0.9em;
  font-weight: bold;
}
.texte_menu_p {
  font-size: 0.8em;
  color: $black;
}
.search_button {
  @include button;
}
.prix {
  display: flex;
  font-size: 1em;
  font-weight: bold;
  color: $black;
}
.button_checked {
  background-color: $color_tertiaire;
  font-size: 61px;
  padding: 0px 10px 0px 20px;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  left: 10px;
}
.menuItem__icon {
  padding: 5px;
  color: #99e2d0;
  border: 2px solid #fff;
  border-radius: 100px;
  position: relative;
  background-color: #fff;
  font-size: 12px;
  top: -15px;
  left: -5px;
}
#check_menu_valide {
  position: relative;
  left: 20px;
  bottom: 10px;
}
#bloc_plats {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
  margin: 5px;
}
#bloc_dessert {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
  margin: 5px;
}
