@import "../Util/_variables.scss";

.formulaire_boutons {
  display: flex;
  width: 100%;
  padding: 10px 2px 5px 2px;
}
.position_button {
  width: 100%;
  height: 50px;
  border: 1px solid $placeholder;
  background: $placeholder;
  text-align: center;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
#search {
  border: 3px solid $placeholder;
  padding: 0px 0px 0px 20px;
  font-size: 17px;
  font-family: "Raleway";
  font-weight: bold;
  background: $placeholder;
}
input .placeholder {
  color: black;
}
