@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}
@mixin flex_space_between {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
}
@mixin flex_start_align_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
@mixin h2 {
  font-size: 1.5em;
  font-weight: bold;
}
@mixin flex_column_flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
@mixin flex_row_start_space-between {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
@mixin flex_header_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}
@mixin flex_filtres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
}
@mixin nouveau {
  position: relative;
  background-color: $color-tertiaire;
  z-index: 1;
  left: 230px;
  border-radius: 4px;
  top: -150px;
  color: green;
  font-size: 18px;
  padding: 8px 15px 8px 15px;
}
@mixin button {
  @include flex_center;
  padding: 20px 40px 40px 40px;
  border: 2px solid $container;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  position: relative;
  z-index: 0;
  height: 15px;
  margin: 10px 60px 30px 90px;
  background-color: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from($color_primary),
    to($color_secondary)
  );

  background: -o-linear-gradient(bottom, $color_primary, $color_secondary);
  background: linear-gradient(to top, $color_primary, $color_secondary);
  color: $white;
  font-size: 1.2em;
}
