@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}
@mixin flex_space_between {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
}
@mixin flex_start_align_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
@mixin h2 {
  font-size: 1.5em;
  font-weight: bold;
}
