@import "../Util/_variables.scss";

label :hover {
  background-color: $color_background_filtres;
}
label :active {
  background-color: $color_background_filtres;
}
@keyframes loader_background {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes loader_background {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes apparition_carte_menu {
  from {
    transform: translateY(-70px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.cadre_proposition__h2 > :nth-of-type(2) {
  animation: apparition_carte_menu 0.4s ease-in-out;
}

.cadre_proposition > :nth-of-type(3) {
  animation: apparition_carte_menu 0.8s ease-in-out;
}

.cadre_proposition > :nth-of-type(4) {
  animation: apparition_carte_menu 1.2s ease-in-out;
}

.cadre_proposition > :nth-of-type(5) {
  animation: apparition_carte_menu 1.6s ease-in-out;
}

.cadre_proposition:hover .button_checked {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform: translateX(65px right);
}
.cadre_proposition:hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.button_checked {
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.cadre_proposition:hover .menuItem__icon {
  display: contents;
}

/*Coeur*/

i.fas.fa-heart.icone_heart:hover {
  padding: 5px 0px 0px 0px;
  font-size: 1.2em;
  background: linear-gradient(
    90deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 222, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  right: 25px;
  top: 30px;
  right: 0px;
  top: 3px;
}
i.fas.fa-heart.icone_heart_accueil:hover {
  padding: 5px 0px 0px 0px;
  font-size: 1.2em;
  background: linear-gradient(
    90deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 222, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  right: 20px;
  top: 179px;
}
