@import "../Util/_variables.scss";

label :hover {
  background-color: $color_background_filtres;
}
label :active {
  background-color: $color_background_filtres;
}
@keyframes loader_background {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes loader_background {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0.33;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    display: none;
  }
}
@keyframes menu_valide {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes menu_valide {
  0% {
    -webkit-transform: translateX(1000px);
    -webkit-transform: translateX(1000px);
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes apparition_carte_menu {
  from {
    transform: translateY(-70px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.cadre_proposition__h2 > :nth-of-type(2) {
  animation: apparition_carte_menu 0.4s ease-in-out;
}

.cadre_proposition > :nth-of-type(3) {
  animation: apparition_carte_menu 0.8s ease-in-out;
}

.cadre_proposition > :nth-of-type(4) {
  animation: apparition_carte_menu 1.2s ease-in-out;
}

.cadre_proposition > :nth-of-type(5) {
  animation: apparition_carte_menu 1.6s ease-in-out;
}

.icone_heart_accueil :active {
  background-color: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#9356dc),
    to(#ff79da)
  );
  background: -o-linear-gradient(bottom, #9356dc, #ff79da);
  background: linear-gradient(to top, #9356dc, #ff79da);
}
